.programs {
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Added to better handle wrapping for different screen sizes */
}

.program img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.program {
    flex-basis: 31%;
    position: relative;
    margin-bottom: 20px; /* Added margin to separate items on wrapping */
}

.caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: opacity 0.4s, padding-top 0.4s;
}

.caption img {
    width: 60px;
    margin-bottom: 10px;
}

.program:hover .caption {
    opacity: 1;
    padding-top: 0;
}

/*--- Media Query for smaller screens ---*/

@media (max-width: 650px) {
    .programs {
        flex-direction: column;
        align-items: center; /* Center align items in column layout */
    }
    .program {
        flex-basis: 100%;
        margin: 20px 0; /* Adjusted margin for consistent spacing */
        
    }
}
